<section>
  <Component.hero content="Survey">
    Please fill out our Survey
  </Component.hero>

  <%= if @demographic do %>
    <SurveyLive.Show.details demographic={@demographic}/>
  <% else %>
    <.live_component module={SurveyLive.Form}
      id="demographic-form"
      current_user={@current_user}/>
  <% end %>
</section>
